<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link type="text/css" rel="stylesheet" href="../../stylesheets/profile.css">
<body>
  <div class="user">
    <%if(currentUser.picture) { %> 
      <a href="/profile/<%=currentUser._id%>/picture"><img src="<%= currentUser.picture %> " alt=""></a>
    <% } else { %>
      <a href="/profile/<%=currentUser._id%>/picture"><img src="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""> </a>
    <% } %> 
    <h1><%= currentUser.username %></h1>
  </div>

<a class="" href="/recipes/<%= currentUser._id %>/favourites">Favourite Recipes</a>

<a  class="btn btn-success" href="/recipes">Back</a>
</body>
</html>

