<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=`, initial-scale=1.0">
  <title>Recipe</title>

</head>

<div id="bar">
  
</div>
<body>
  <link rel="stylesheet" href="../../../stylesheets/footer.css">
  <link rel="stylesheet" href="../../../stylesheets/header.css">

  <nav class="navbar fixed-top navbar-expand-lg  bg-green">
    <div class="container">

    
    <a class="navbar-brand" href="/recipes">Recipe</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <form action="/recipes/search?page=1" method="POST" class="form-inline ">
        <input id="search" class="form-control w-75" placeholder="Find A Recipe." name="search" type="search" aria-label="Search">
        <button class="btn btn-outline-success " type="submit"><i class="fas fa-search"></i></button>
        <input type="hidden" name="sort" value="rating">
        <input type="hidden" name="value" value="-1">
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/recipes/new">Create Recipe</a>
        </li>
        
      </ul>

      <ul class="navbar-nav">
        <% if(!currentUser) { %> 
        <li class=" mr-sm-2">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class=" mr-sm-2">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% } else { %>
        <li class="mr-sm-2">
          <% if(currentUser && currentUser.admin) {%>
            <a class="nav-link" href="/profile/<%=currentUser._id%>">(ADMIN) <%= currentUser.username %></a>
            <li class=" mr-sm-2">
              <a class="nav-link" href="/admin">Admin Terminal</a>
            </li>
          <% } else {%> 
          <a class="nav-link" href="/profile/<%=currentUser._id%>"> <%= currentUser.username %> </a>
          <% } %> 
        </li>
        <li class=" mr-sm-2">
          <a class="nav-link" href="/recipes/<%= currentUser._id %>/favourites/1">favourites</a>
        </li>
        <li class=" mr-sm-2">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% } %> 
      

      </ul>
    </div>
  </div>
  </nav>

  <% if(success && success.length > 0) {%> 
  <div class="alert alert-success" role="alert">
    <%= success %> 
  </div>
<% } %> 

 <% if(error && error.length > 0) { %> 
  <div class="alert alert-danger" role="alert">
    <%= error  %> 
  </div>
<% } %> 
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
