<%- include("../partials/header") %> 
<script type="text/javascript" src="../../js/replaceImages.js"></script>
<link rel="stylesheet" href="../../../stylesheets/usersearch.css">
<div class="container">
  <%if(user) { %> 
  <a class="back float-right mr-2 " href="/profile/<%=user._id %>">Back</a>
  <% } %>
    
  <form id="form" method="POST" action="/user/search/1" class="my-2 my-lg-0">
    <input class="form-control form-button" type="search" placeholder="Search for users" name="search" aria-label="Search">
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Find User</button>
  </form>
  <div class="body">
  <div class="row">
    
<% search.forEach(function (user) {%> 
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card img-fluid">
          <% if(user.picture) { %> 
          <img class="card-img-top" src="<%= user.picture %> " alt="Card image cap">
          <% } else { %>
            <img class="card-img-top" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <% } %> 
          <div class="card-body">
            <h5 class="card-title"><%= user.username %> </h5>
            <a class="btn btn-primary" href="/profile/<%= user._id %> ">See Account</a>
          </div>
        </div>
      </div>
  <% }) %> 
</div>

<% if(pages > page) { %> 
  <form method="POST" action="/user/search/<%= page + 1 %>">
  <button class="btn-next btn btn-success" name="search">Next Page</button>
  </form>
<% } %> 
<% if(page > 1) { %>  
  <form method="POST" action="/user/search/<%= page - 1 %>">
    <button class="btn-prev btn btn-success" name="search">Previous Page</button>
    </form>
  <% } %> 
</div>
</div>
<%- include("../partials/footer") %> 