<%- include("../partials/header") %> 
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,600&display=swap" rel="stylesheet">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../stylesheets/star.css">
<script type="text/javascript" src="../../../js/replaceImages.js"></script>
<link rel="stylesheet" type="text/css" href="../../../stylesheets/favourite.css">
<link rel="stylesheet" href="../../../stylesheets/search.css">

<h1><%=user.username%>'s Uploads </h1>
<div>
  <a class="back ml-2 p-1" href="/profile/<%=user._id %>">Back</a>
</div>
  <div class="fluid-container">


  <div class="row">

    <% search.forEach((recipe) => { %>
      <div class="col-12 col-sm-6 col-lg-3  p-0 p-md-2">
      <div id="images" class="card image-responsive  m-2">
        <% if(currentUser) { %> 
          <% if(currentUser.favouritePosts.includes(recipe._id)) { %> 
            <div class="favourite">
            <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
            ><i data-post="<%=recipe._id  %>" class="favourited-color fas fa-heart favourite-<%= recipe._id%>"></i>
            </a>
          </div>
          <% } else {%> 
            <div class="favourite">
              <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
                ><i data-post="<%=recipe._id  %>" class="fas fa-heart favourite-<%= recipe._id%>"></i>
                </a>
          </div>
          <% } %>
          <% } %> 

          <a class="" href="/recipes/<%=recipe._id%>">
            <div class="card-img-top">
              <img class=" recipeImage" onerror="imgError(this)" src="<%= recipe.image %>" alt="Card image cap">
              <a href="/recipes/<%=recipe._id%>"></a>
            </div>
            <div id="cardbody" class="card-body">
              <a class="" href="/recipes/<%= recipe._id %>"><p class="text-center recipe-title"><i class="px-2 fas fa-utensils"></i> <%=recipe.name %> </p></a>
          
          <%recipe.dietary.forEach((dietary) => { %>
            <p class="d-inline dietary"><%=dietary %> </p>
          <% }) %> 
          <section>  
            
              <div class="stars">
                <span class="starredusers">(<%= recipe.usersStarred %>)</span>
                <span data-star="<%=1 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star rating-1"></i></span>
                <span data-star="<%=2 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star rating-2"></i></span>
                <span data-star="<%=3 %>"  data-id="<%=recipe._id%>""><i class="fa fa-star rating-3"></i></span>
                <span data-star="<%=4 %>" data-id="<%=recipe._id%>"  "><i class="fa fa-star rating-4"></i></span>
                <span data-star="<%=5 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star rating-5"></i></span>
    
                <div class="bottom-star post post-<%=recipe._id %>" data-starTotal="<%=recipe.totalStars %>"  data-starWidth="<%=recipe.starStatus%>">
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>

                  <span class="starredusers">(<%= recipe.usersStarred %>)</span>
            </div>
            </div>
            <p class="d-inline-block views"><i class="fas fa-eye"></i> <%=recipe.views%></p>
        
          <hr class="p-0 m-0">
          <p class="card-text m-0 p-0 recipe-description"><%= recipe.description.substr(0, 60)%>... </p>
          <div class="">
            <p class="d-inline card-text p-0 "><img class="recipe-image"src="<%=recipe.author.picture %>" alt="">By <a href="/profile/<%=recipe.author.id%>"><%=recipe.author.username%></a>
          </div>
          
          

        </div>
      </div>
    </div>
    <% }) %> 
    
    <% if(pages > page) { %> 
      <form method="GET" action="/user/<%=user._id%>/uploads/<%= page + 1 %>">
      <button class="btn btn-success btn-next" name="search">Next Page</button>
      </form>
    <% } %> 
    <% if(page > 1) { %>  
      <form method="GET" action="/user/<%=user._id%>/uploads/<%= page - 1 %>">
        <button class="btn btn-success btn-prev" name="search">Previous Page</button>
        </form>
      <% } %> 
    </div>
  </div>
  </div>
  <script type="text/javascript" src="../../../js/favourite.js"></script>
<script type="text/javascript" src="../../../js/starrating.js"></script>
<%- include("../partials/footer") %> 