

<%- include("../partials/header")  %> 

<link type="text/css" rel="stylesheet" href="/stylesheets/new.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/star.css">
<link rel="stylesheet" href="/stylesheets/search.css">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,600&display=swap" rel="stylesheet">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/replaceImages.js"></script>
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-8  ">
    <h1 class="text-center title">Edit</h1>
    <hr>
    <form action="/recipes/<%= recipe._id %>?_method=PUT " method="POST">
      <section class="form-container p-3">


        <label class="w-100">Dish Name
          <input value="<%= recipe.name %>" class="w-100" maxlength="18" minlength="4" placeholder="Spicy Curry" required type="text" name="recipe[name]">
        </label>
        <label class="w-100 mt-3"> Image
          <input class="w-100" value="<%=recipe.image %> " placeholder="https://imageurl.com" type="text" name="recipe[image]">
        </label>

        <label class="w-100 mt-3"> Description
            <input required value="<%=recipe.description%>" class="w-100 h-25 d-inline-block" placeholder="recipe description" type="text" name="recipe[description]" maxlength="50" minlength="4">
        </label>


        <div class="mt-3 w-100 text-center">
          <label>Prep Hours <input value="<%=recipe.prepHour%>" required max="60" placeholder="hours" type="text" name="recipe[prepHour]"></label>
          <label>Minutes
            <input required value="<%=recipe.prepMinute%>"  max="60" placeholder="minutes" type="number" name="recipe[prepMinute]">
          </label>
        </div>
        <div class="mt-3 text-center">
          <label>cook Hours<input value="<%=recipe.cookHour%>" required max="60"  placeholder="hours" type="text" name="recipe[cookHour]"></label>
          <label>Minutes
            <input required max="60" value="<%=recipe.cookMinute%>"  placeholder="minutes" type="text" name="recipe[cookMinute]">
          </label>
          
        </div>
        <label class="w-100"> Servings
          <input class="w-100" value="<%= recipe.servings %>" required placeholder="servings" type="text" name="recipe[servings]">
        </label>

    
        <label class="mt-3 w-100"> Ingredients
          <textarea class="w-100" required placeholder="Separate ingredients with a new line." name="recipe[ingredients]"cols="30" rows="10"><%=ingredients%></textarea>
        </label>

        <label class="w-100 mt-3"> Method
          <textarea class="w-100" placeholder="Separate method stages with a new line." name="recipe[method]"cols="30" rows="10"><%=method %> </textarea>
        </label>
        
      <h2>Select relevant categories</h2>

      <div>
        <label>Vegetarian
          <input value="V" name="dietary[vegetarian]" type="checkbox">
        </label>
        <label>Vegan
          <input value="VE" name="dietary[vegan]" type="checkbox">
        </label>
        <label>Dairy-Free
          <input value="DF" name="dietary[dairyFree]" type="checkbox">
        </label>
        <label>Gluten-Free
          <input value="GF" name="dietary[glutenFree]" type="checkbox">
        </label>

      </div>
      
      <hr class="mt-3 p-0">
      <label>Indian
        <input type="checkbox" name="tags[indian]" id="indian" value="indian">
      </label> 
      <label>Chinese
        <input type="checkbox" name="tags[chinese]" id="chinese" value="chinese">
      </label> 
      <label>American
        <input type="checkbox" name="tags[american]" id="american" value="american">
      </label> 
      <label>Japanise
        <input type="checkbox" name="tags[japanise]" id="japanise" value="japanise">
      </label> 
      <label>Pizza
        <input type="checkbox" name="tags[pizza]" id="pizza" value="pizza">
      </label> 
      <label>Turkish
        <input type="checkbox" name="tags[turkish]" id="turkish" value="turkish">
      </label>
      <label>Mexican
        <input type="checkbox" name="tags[mexican]" id="mexican" value="mexican">
      </label>
      <label>Chicken
        <input type="checkbox" name="tags[chicken]" id="chicken" value="chicken">
      </label>
      <label>Burger
        <input type="checkbox" name="tags[burger]" id="burger" value="burger">
      </label>
      <label>Chips
        <input type="checkbox" name="tags[chips]" id="chips" value="chips">
      </label>
      <label>French
        <input type="checkbox" name="tags[french]" id="french" value="french">
      </label>
      <label>Baking
        <input type="checkbox" name="tags[baking]" id="baking" value="baking">
      </label>
      <label>Cake
        <input type="checkbox" name="tags[cake]" id="cake" value="cake">
      </label>
        <div>
          <button class="btn btn-success">Submit Edit</button>
        </div>
      </section>
      
    </form>
  </div>
  <div class="col-12 col-md-4 ">
    <div class="suggested">
      <h2 class="text-center title">Dont miss out!</h2>
      <% randomRecipe.forEach((recipe) => { %> 
        <div id="images" class="card image-responsive  m-2">
          <% if(currentUser) { %> 
            <% if(currentUser.favouritePosts.includes(recipe._id)) { %> 
              <div class="favourite">
              <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
              ><i data-post="<%=recipe._id  %>" class="favourited-color fas fa-heart favourite-<%= recipe._id%>"></i>
              </a>
            </div>
            <% } else {%> 
              <div class="favourite">
                <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
                  ><i data-post="<%=recipe._id  %>" class="fas fa-heart favourite-<%= recipe._id%>"></i>
                  </a>
            </div>
            <% } %>
            <% } %> 

            <a class="" href="/recipes/<%=recipe._id%>">
              <div class="card-img-top">
                <img class=" recipeImage" onerror="imgError(this)" src="<%= recipe.image %>" alt="Card image cap">
                <a href="/recipes/<%=recipe._id%>"></a>
              </div>
            <div id="cardbody" class="card-body">
      
          
          <%recipe.dietary.forEach((dietary) => { %>
            <p class="d-inline dietary"><%=dietary %> </p>
          <% }) %> 
          <section>  
            
              <div class="stars">
                <span class="starredusers">(<%= recipe.usersStarred %>)</span>
                <span data-star="<%=1 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star rating-1"></i></span>
                <span data-star="<%=2 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star rating-2"></i></span>
                <span data-star="<%=3 %>"  data-id="<%=recipe._id%>""><i class="fa fa-star rating-3"></i></span>
                <span data-star="<%=4 %>" data-id="<%=recipe._id%>"  "><i class="fa fa-star rating-4"></i></span>
                <span data-star="<%=5 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star rating-5"></i></span>
    
                <div class="bottom-star post post-<%=recipe._id %>" data-starTotal="<%=recipe.totalStars %>"  data-starWidth="<%=recipe.starStatus%>">
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
                  <span><i class="fa fa-star"></i></span>
    
                  <span class="starredusers">(<%= recipe.usersStarred %>)</span>
            </div>
            </div>

          
            <hr class="p-0 m-0">
            <p class="d-inline-block views"><i class="fas fa-eye"></i> <%=recipe.views%></p>
    
            <hr class="p-0 m-0">
            <p class="card-text m-0 p-0 recipe-description"><%= recipe.description.substr(0, 60)%>... </p>
            <div class="">
              <p class="d-inline card-text p-0 "><img class="recipe-image"src="<%=recipe.author.picture %>" alt="">By <a href="/profile/<%=recipe.author.id%>"><%=recipe.author.username%></a>
            </div>

          </div>
        </div>
      <% }) %> 
    </div>

</div>
</div>

 
</div>
<script type="text/javascript" src="/js/favourite.js"></script>
<script type="text/javascript" src="/js/starrating.js"></script>
<%- include("../partials/footer")  %> 



