<%- include("../partials/header")  %> 
<link type="text/css" rel="stylesheet" href="../../../stylesheets/search.css">
<h1>favourites</h1>
<div class="fluid-container">
  <div class="row">
<% search.forEach(function (recipe) {%> 
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card img-fluid">
          <img class="card-img-top" src="<%= recipe.image %> " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %> </h5>
            <p class="card-text"><%= recipe.description %> </p>
            <a class="btn btn-primary" href="/recipes/<%= recipe._id %> ">Show More</a>
                <button onclick="actOnPost(event)";
                data-post-id="<%=recipe._id  %>">Favourite
               </button>

           <span id="likes-count-<%=recipe._id %>"> <%= recipe.likes_count %>  </span>
          </div>
        </div>
      </div>
  <% }) %> 
</div>

<% if(pages > page) { %> 
  <form action="/recipes/<%=currentUser._id %>/favourites/<%= page + 1 %>">
  <button name="search">Next Page</button>
  </form>
<% } %> 
<% if(page > 1) { %>  
  <form action="/recipes/<%=currentUser._id %>/favourites/<%= page - 1 %>">
    <button name="search">Previous Page</button>
    </form>
  <% } %> 
</div>

<%- include("../partials/footer")  %> 