<%- include("../partials/header")  %> 

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link type="text/css" rel="stylesheet" href="./stylesheets/index.css">
<script>


  var actOnPost = function (event) {
      var postId = event.target.dataset.postId;
      axios.post('/recipes/' + postId + '/favourite').then(function(response) {
      axios.get('/recipes/:id/favourite').then(function(response) {
        var data = response.data
        if(data.data.favouritePosts.includes(postId)) {
          document.querySelector('#favourite-' + postId).textContent="Unfavourite";
        } else {
          document.querySelector('#favourite-' + postId).textContent="Favourite";
        }
      })
      });

  };

</script>


<section id="header">
  <div class="jumbotron">
    <h1 class="display-4">Recipe!</h1>
    <p class="lead">The easy way for healthier eating.</p>
    <hr class="my-4">
    <p>Read And Create Your Own Unique Recipes!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/recipes/new" role="button">CREATE RECIPE!</a>
    </p>
  </div>
</section>

<div class="fluid-container ">
  <div class="row">
<% recipe.forEach(function (recipe) {%> 
      <div class="col-12 col-md-6 col-lg-3">
        <div id="images" class="card image-responsive">
          <div class="hovereffect">
          <img class="card-img-top hovereffect" src="<%= recipe.image %> " alt="Card image cap">
          <div class="overlay">
            <h2><%= recipe.name  %></h2>
            <a class="info" href="/recipes/<%= recipe._id %> "">See Recipe</a>
          </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= recipe.description %> </p>

            <% if(currentUser) { %> 
              <% if(user.favouritePosts.includes(recipe._id)) { %> 
                <button id="favourite-<%= recipe._id %>" onclick="actOnPost(event)";
                data-post-id="<%=recipe._id  %>">Unfavourite
               </button>
              <% } else {%> 
                <button id="favourite-<%= recipe._id %>" onclick="actOnPost(event)";
                data-post-id="<%=recipe._id  %>">Favourite
               </button>
              <% } %>
              <% } %> 

          </div>
        </div>
      </div>
  <% }) %> 
</div>
</div>


<%- include("../partials/footer")  %> 
