<%- include("../partials/header")  %> 
<link type="text/css" rel="stylesheet" href="../../stylesheets/main.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<link type="text/css" rel="stylesheet" href="./stylesheets/index.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,600&display=swap" rel="stylesheet">

<% if(randomRecipe.length > 1) { %> 
<div class="fluid-container mx-2 featured">
  <h2 class="title my-0 py-0">Featured <i class="fas fa-crown"></i></h1>
    <hr class="m-0 p-0 w-25">
  <div class="row">
    <div class="col-6 my-3">
      <div class="card featured-card">
        <a href="/recipes/<%=randomRecipe[0]._id%>"><img class="random-image image-responsive" src="<%= randomRecipe[0].image %>" alt=""></a>
        <p class="random-recipe-name"><%= randomRecipe[0].name%></p>
        <p><%= randomRecipe[0].description  %></p>
      </div>
      
    </div>
    <div class="col-6 my-3">
      <div class="card">
        <a href="/recipes/<%=randomRecipe[1]._id%>"><img class="random-image image-responsive" src="<%= randomRecipe[1].image %>" alt=""></a>
        
        <p class="random-recipe-name"><%= randomRecipe[1].name%></p>
        <p><%= randomRecipe[1].description  %></p>
      </div>
    </div>
  </div>
</div>
<% } %> 

<div class="fluid-container overflow my-3">
  
  <div class="item">
    <a href="/recipes/search/indian/1"><img class="circle-image" src="https://images.unsplash.com/photo-1565557623262-b51c2513a641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Indian</span>
  </div>
  
  <div class="item">
    <a href="/recipes/search/pizza/1"><img class="circle-image" src="https://images.unsplash.com/photo-1574071318508-1cdbab80d002?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Pizza</span>
  </div>

  <div class="item">
    <a href="/recipes/search/turkish/1"><img class="circle-image" src="https://images.unsplash.com/photo-1530469912745-a215c6b256ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Turkish</span>
  </div>

  <div class="item">
  <a href="/recipes/search/japanise/1"><img class="circle-image" src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Japanise</span>
  </div>

  <div class="item">
  <a href="/recipes/search/mexican/1"><img class="circle-image" src="https://images.unsplash.com/photo-1565299585323-38d6b0865b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Mexican</span>
  </div>

  <div class="item">
    <a href="/recipes/search/chinese/1"><img class="circle-image" src="https://images.unsplash.com/flagged/photo-1556742524-750f2ab99913?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Chinese</span>
  </div>

  <div class="item">
    
  <a href="/recipes/search/chicken/1"><img class="circle-image" src="https://images.unsplash.com/photo-1426869981800-95ebf51ce900?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Chicken</span>
  </div>

  <div class="item">
    <a href="/recipes/search/burger/1"><img class="circle-image" src="https://images.unsplash.com/photo-1586540480250-e3a0717298b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Burgers</span>
  </div>

  <div class="item">
  <a href="/recipes/search/chips/1"><img class="circle-image" src="https://images.unsplash.com/photo-1526230427044-d092040d48dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Chips</span>
  </div>

  <div class="item">
    
    <span class="caption"></span>
  </div>

  <div class="item">
    <a href="/recipes/search/french/1"><img class="circle-image" src="https://images.unsplash.com/photo-1571157577110-493b325fdd3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">French</span>
  </div>

  <div class="item">
    <a href="/recipes/search/baking/1"><img class="circle-image" src="https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Baking</span>
  </div>

  <div class="item">
  <a href="/recipes/search/cake/1"><img class="circle-image" src="https://images.unsplash.com/photo-1559620192-032c4bc4674e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
    <span class="caption">Cake</span>
  </div>
  
</div>
<section id="sort">
  <div class="fluid-container recipes">
    <p class="d-inline-block">View All Recipes // </p>
    <p class="d-inline-block "><a class="recipe-view" href="/recipes/viewby/newRecipes/1">New/  </a></p>
    <p class="d-inline-block"><a class="recipe-view" href="/recipes/viewby/oldRecipes/1">Old/  </a></p>
    <p class="d-inline-block"><a class="recipe-view" href="/recipes/viewby/trendingRecipes/1">Trending/  </a></p>
    <p class="d-inline-block"><a class="recipe-view" href="/recipes/viewby/azRecipes/1">A-Z/  </a></p>
    <p class="d-inline-block"><a class="recipe-view" href="/recipes/viewby/zaRecipes/1">Z-A/  </a></p>
  </div>
</section>

<div class="fluid-container recipes">
<% for(i = 0; i < recipes.length; i++) {%>
    <p class="title pl-3 m-0"><%= recipes[i].name %> Recipes</p>
    
    <hr class="m-0 p-0">
    <div class="row mb-5">
      <% recipes[i].content.forEach(function(recipe) { %>

      <div class="col-12 col-md-6 col-xl-3">
        <div id="images" class="card image-responsive  m-2">
          <% if(currentUser) { %> 
            <% if(user.favouritePosts.includes(recipe._id)) { %> 
              <div class="favourite">
              <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
              ><i data-post="<%=recipe._id  %>" class="favourited-color fas fa-heart favourite-<%= recipe._id%>"></i>
              </a>
            </div>
            <% } else {%> 
              <div class="favourite">
                <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
                  ><i data-post="<%=recipe._id  %>" class="fas fa-heart favourite-<%= recipe._id%>"></i>
                  </a>
            </div>
            <% } %>
            <% } %> 

          <div class="hovereffect">
          <img class="card-img-top hovereffect " src="<%= recipe.image %> " alt="Card image cap">
          <div class="overlay">
   
            <a class="info" href="/recipes/<%= recipe._id %> "">See Recipe</a>
          </div>
          </div>
          <div class="card-body">
            <p class="text-center recipe-title"><i class="px-2 fas fa-utensils"></i> <%=recipe.name %> </p>

            <section>
              
                <div class="stars">
                  <span data-star="<%=1 %>" data-id="<%=recipe._id%>" class="rating-1 star"><i class="fa fa-star"></i></span>
                  <span data-star="<%=2 %>" data-id="<%=recipe._id%>" class="rating-2 star"><i class="fa fa-star"></i></span>
                  <span data-star="<%=3 %>"  data-id="<%=recipe._id%>" class="rating-3 star"><i class="fa fa-star"></i></span>
                  <span data-star="<%=4 %>" data-id="<%=recipe._id%>"  class="rating-4 star"><i class="fa fa-star"></i></span>
                  <span data-star="<%=5 %>" data-id="<%=recipe._id%>" class="rating-5 star"><i class="fa fa-star"></i></span>
      
                  <div class="bottom-star post post-<%=recipe._id %>"  data-starWidth="<%=recipe.starStatus%>">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
              </div>
              </div>

          
            <hr class="p-0 m-0">
            <div class="text-center">
              <p class="d-inline card-text m-0 p-0">Created By <img class="recipe-image"src="<%=recipe.author.picture %>" alt=""> <%=recipe.author.username%></p>
              <p class="d-inline ml-2"><i class="fas fa-eye"></i> <%=recipe.views%> Views</p>
            </div>
            
            <p class="card-text m-0 p-0 text-center"><%= recipe.description.substr(0, 60)%>... </p>

          </div>
        </div>
      </div>
      
      <% }) %> 
      
    </div>
    
  <% } %> 
  
</div>

<div class="footer">

  <div class="footer-lower  d-flex justify-content-center align-items-center">
    <p>© 2020 Copyright: RecipeWebsiteName.com</p>
  </div>
</div>
<script type="text/javascript" src="./js/favourite.js"></script>
<script type="text/javascript" src="../../js/starrating.js"></script>
<%- include("../partials/footer")  %> 
