<%- include("../partials/header")  %> 

<link type="text/css" rel="stylesheet" href="/stylesheets/new.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/star.css">
<link rel="stylesheet" href="/stylesheets/search.css">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,600&display=swap" rel="stylesheet">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/replaceImages.js"></script>

<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-8  ">
    <h1 class="text-center title">Upload</h1>
    <hr>
    <form class="form" action="/recipes" method="POST">
      <section class="form-container">


        <label class="w-100">Dish Name
          <input class="w-100" maxlength="18" minlength="4" placeholder="Spicy Curry" required type="text" name="recipe[name]">
        </label>
        <label class="w-100 mt-3"> Image
          <input class="w-100"  placeholder="https://imageurl.com" type="text" name="recipe[image]">
        </label>

        <label class="w-100 mt-3"> Description
            <input required class="w-100 h-25 d-inline-block" placeholder="recipe description" type="text" name="recipe[description]" maxlength="50" minlength="4">
        </label>


        <div class="mt-3 w-100 text-center">
          <label>prep <input required max="60" placeholder="hours" type="text" name="recipe[prepHour]"></label>
          <input required  max="60" placeholder="minutes" type="number" name="recipe[prepMinute]">
        </div>
        <div class="mt-3 text-center">
          <label>cook <input required max="60"  placeholder="hours" type="text" name="recipe[cookHour]"></label>
          <input required max="60"  placeholder="minutes" type="text" name="recipe[cookMinute]">
        </div>
        <label class="w-100"> Servings
          <input class="w-100" required placeholder="servings" type="text" name="recipe[servings]">
        </label>

    
        <label class="mt-3 w-100"> Ingredients
          <textarea class="w-100" required placeholder="Separate ingredients with a new line." name="ingredients"cols="30" rows="10"></textarea>
        </label>

        <label class="w-100 mt-3"> Method
          <textarea class="w-100" placeholder="Separate method stages with a new line." name="method"cols="30" rows="10"></textarea>
        </label>
        
      <h2>Select relevant categories</h2>
      <div>
        <label>Vegetarian
          <input value="V" name="dietary[vegetarian]" type="checkbox">
        </label>
        <label>Vegan
          <input value="VE" name="dietary[vegan]" type="checkbox">
        </label>
        <label>Dairy-Free
          <input value="DF" name="dietary[dairyFree]" type="checkbox">
        </label>
        <label>Gluten-Free
          <input value="GF" name="dietary[glutenFree]" type="checkbox">
        </label>

      </div>
      

      <hr class="mt-3 p-0">
      <label>Indian
        <input type="checkbox" name="tags[indian]" id="indian" value="indian">
      </label> 
      <label>Chinese
        <input type="checkbox" name="tags[chinese]" id="chinese" value="chinese">
      </label> 
      <label>American
        <input type="checkbox" name="tags[american]" id="american" value="american">
      </label> 
      <label>Japanise
        <input type="checkbox" name="tags[japanise]" id="japanise" value="japanise">
      </label> 
      <label>African
        <input type="checkbox" name="tags[African]" id="pizza" value="pizza">
      </label> 
      <label>Turkish
        <input type="checkbox" name="tags[turkish]" id="turkish" value="turkish">
      </label>
      <label>Mexican
        <input type="checkbox" name="tags[mexican]" id="mexican" value="mexican">
      </label>
      <label>East European
        <input type="checkbox" name="tags[easteuropean]" id="easteuropean" value="east european">
      </label>
      <label>Greek
        <input type="checkbox" name="tags[greek]" id="greek" value="greek">
      </label>
      <label>Italian
        <input type="checkbox" name="tags[italian]" id="italian" value="italian">
      </label>
      <label>Korean
        <input type="checkbox" name="tags[korean]" id="korean" value="korean">
      </label>
      <label>Nordic
        <input type="checkbox" name="tags[nordic]" id="nordic" value="nordic">
      </label>
      <label>Spanish
        <input type="checkbox" name="tags[spanish]" id="spanish" value="spanish">
      </label>
      <label>Portuguese
        <input type="checkbox" name="tags[portuguese]" id="portuguese" value="portuguese">
      </label>
      <label>Pakistani
        <input type="checkbox" name="tags[pakistani]" id="pakistani" value="pakistani">
      </label>
      <label>Irish
        <input type="checkbox" name="tags[irish]" id="irish" value="irish">
      </label>
      <label>Caribbean
        <input type="checkbox" name="tags[caribbean]" id="caribbean" value="caribbean">
      </label>
        <div>
          <button class="btn button btn-success">Submit Post</button>
        </div>
      </section>
      
    </form>
  </div>
  <div class="col-12 col-md-4 ">
    <div class="suggested">
      <h2 class="text-center title">Dont miss out!</h2>
      <% if(recipe) { %> 
      <% recipe.forEach((recipe) => { %> 
        <div id="images" class="card image-responsive  m-2">
          <% if(currentUser) { %> 
            <% if(currentUser.favouritePosts.includes(recipe._id)) { %> 
              <div class="favourite">
              <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
              ><i data-post="<%=recipe._id  %>" class="favourited-color fas fa-heart favourite-<%= recipe._id%>"></i>
              </a>
            </div>
            <% } else {%> 
              <div class="favourite">
                <a class="favourite-<%= recipe._id%>" onclick="actOnPost(event)" 
                  ><i data-post="<%=recipe._id  %>" class="fas fa-heart favourite-<%= recipe._id%>"></i>
                  </a>
            </div>
            <% } %>
            <% } %> 

            <a class="" href="/recipes/<%=recipe._id%>">
              <div class="card-img-top">
                <img class=" recipeImage" onerror="imgError(this)" src="<%= recipe.image %>" alt="Card image cap">
                <a href="/recipes/<%=recipe._id%>"></a>
              </div>
              
                
              
                
                
              <div id="cardbody" class="card-body">
                <a class="" href="/recipes/<%= recipe._id %>"><p class="text-center recipe-title"><i class="px-2 fas fa-utensils"></i> <%=recipe.name %> </p></a>
                
                <%recipe.dietary.forEach((dietary) => { %>
                  <p class="d-inline dietary"><%=dietary %> </p>
                <% }) %> 
                <section>  
                  
                    <div class="stars">
                      <span class="starredusers">(<%= recipe.usersStarred %>)</span>
                      <span data-star="<%=1 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star"></i></span>
                      <span data-star="<%=2 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star"></i></span>
                      <span data-star="<%=3 %>"  data-id="<%=recipe._id%>""><i class="fa fa-star"></i></span>
                      <span data-star="<%=4 %>" data-id="<%=recipe._id%>"  "><i class="fa fa-star"></i></span>
                      <span data-star="<%=5 %>" data-id="<%=recipe._id%>" ><i class="fa fa-star"></i></span>
          
                      <div class="bottom-star post post-<%=recipe._id %>" data-starTotal="<%=recipe.totalStars %>"  data-starWidth="<%=recipe.starStatus%>">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
    
                        <span class="starredusers">(<%= recipe.usersStarred %>)</span>
                  </div>
                  </div>
                  <p class="d-inline-block views"><i class="fas fa-eye"></i> <%=recipe.views%></p>
              
                <hr class="p-0 m-0">
                <p class="card-text m-0 p-0 recipe-description"><%= recipe.description.substr(0, 60)%>... </p>
                <div class="">
                  <p class="d-inline card-text p-0 "><img class="recipe-image"src="<%=recipe.author.picture %>" alt="">By <a href="/profile/<%=recipe.author.id%>"><%=recipe.author.username%></a>
                </div>
                
                
    
              </div>
        </div>
      <% }) %> 
      <% } %> 
    </div>

</div>
</div>

 
</div>
<script type="text/javascript" src="/js/favourite.js"></script>
<script type="text/javascript" src="/js/starrating.js"></script>
<%- include("../partials/footer")  %> 