<%- include("../partials/header")  %> 
<link type="text/css" rel="stylesheet" href="../../stylesheets/main.css">
<link rel="stylesheet" href="../../stylesheets/search.css">
<script type="text/javascript" src="../../js/favourite.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<% if(search.length > 0) { %> 
<div class="fluid-container ">
  <div class="row">
<% search.forEach(function (recipe) {%> 
      <div class="col-12 col-md-6 col-lg-3">
        <div id="images" class="card image-responsive">
          <div class="hovereffect">
          <img class="card-img-top hovereffect" src="<%= recipe.image %> " alt="Card image cap">
          <div class="overlay">
            <h2><%= recipe.name  %></h2>
            <a class="info" href="/recipes/<%= recipe._id %> "">See Recipe</a>
          </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= recipe.description %> </p>

            <% if(currentUser) { %> 
              <% if(currentUser.favouritePosts.includes(recipe._id)) { %> 
                <button id="favourite-<%= recipe._id %>" onclick="actOnPost(event)";
                data-post-id="<%=recipe._id  %>">Unfavourite
               </button>
              <% } else {%> 
                <button id="favourite-<%= recipe._id %>" onclick="actOnPost(event)";
                data-post-id="<%=recipe._id  %>">Favourite
               </button>
              <% } %>
              <% } %> 
          </div>
        </div>
      </div>
  <% }) %> 
</div>
</div>
<%} else { %> 
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">No Results Found</h1>
      <p class="text-center">Please Try Again</p>
    </div>
  </div>
  
  
<% } %> 
  
<%- include("../partials/footer")  %> 